@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.cdnfonts.com/css/hattori-hanzo');

/* tableでborder-collapseやborder-spacingを指定していましたが、
他の部分がおかしくなったので書き換えさせていただきました。classで指定しています。
サイズ指定したい時などは極力タグ指定ではなく、クラス名を指定していただくとありがたいです。　by小島 */

.sample_test {
  border-collapse: separate;
  border-spacing: 100px;
}


/* 上の余白消す */
* { 
  margin: 0;
  padding:0; 
}


/* 画面の色・比率 */

  /* メインページの壁紙  */
.mainColor_box {
  width: 1400px;
  height: 2700px;
  background: #d5d5d5;
}

   /* お出かけモードの壁紙  */
.gooutColor_box {
  width: 1400px;
  height: 3300px;
  background: #d5d5d5;
}

.Hiritu {
  zoom: 0.7;
  -moz-transform: scale(0.7);
}


/* メニュー画面 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #d5d5d5;
}
/* ここから下がハンバーガーメニューに関するCSS */
/* チェックボックスを非表示にする */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューのデザイン*/
.nav_content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: #000;
  transition: .5s;
  background-color: rgba(0,0,0,0.7);
  text-align:center;
}

/* メニュー黒ポチを消す */
.nav_list {
  list-style: none;
}

.nav_item a {
  color: #fff;
  text-decoration: none;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  left: 0;/* メニューを画面に入れる */
}



/* 天気表示画面の黒おび*/
.weather_box {
  width: 1400px;
  height: 275px;
  background: #000000;
  color: #2196F3;
}

/* 黒おびの地図 */
.maru_box {
    border-radius: 20px;
}


/* 戻るボタンを右寄せするcss*/
.test01 {
	text-align: right;
}

/* 都道府県選択*/
.cp_ipselect {
	position: relative;
	width: 90%;
	margin: 2em auto;
	text-align: center;
}
.cp_sl06 {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 100%;
	padding: 10px 10px 10px 0;
	font-size: 18px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.3);
}
.cp_sl06:focus {
	outline: none;
	border-bottom: 1px solid rgba(0,0,0, 0);
}
.cp_ipselect .cp_sl06 {
	appearance: none;
	-webkit-appearance:none
}
.cp_ipselect select::-ms-expand {
	display: none;
}
.cp_ipselect:after {
	position: absolute;
	top: 18px;
	right: 10px;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.3);
	pointer-events: none;
}
.cp_sl06_selectlabel {
	color: rgba(0,0,0, 0.5);
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	transition: 0.2s ease all;
}
.cp_sl06:focus ~ .cp_sl06_selectlabel, .cp_sl06:valid ~ .cp_sl06_selectlabel {
	color: #da3c41;
	top: -20px;
	transition: 0.2s ease all;
	font-size: 14px;
}
.cp_sl06_selectbar {
	position: relative;
	display: block;
	width: 100%;
}
.cp_sl06_selectbar:before, .cp_sl06_selectbar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #da3c41;
	transition: 0.2s ease all;
}
.cp_sl06_selectbar:before {
	left: 50%;
}
.cp_sl06_selectbar:after {
	right: 50%;
}
.cp_sl06:focus ~ .cp_sl06_selectbar:before, .cp_sl06:focus ~ .cp_sl06_selectbar:after {
	width: 50%;
}
.cp_sl06_highlight {
	position: absolute;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

/* 地域詳細 */
ul {
    list-style: none;
}
.selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  
  float: left;
  min-width: 200px;
  margin: 50px 33%;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.selectdiv:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/
  
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */
  
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 20px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
　border-radius: 20px;
}
#selectdiv option:disabled{
  display:none;
}

/* コーディネートルームのアイコンサイズ*/
.code_size{
   width: 500px;
   height: 500px;
  object-position: 50% 50%;
}


/* 隙間*/
.sukima_box {
  width: 1400px;
  height: 80px;
  color: #2196F3;
  background: #d5d5d5;
}


/* 選んだ服のアイコンの枠 */
.clothes_box1 {
  width: 500px;
  height: 500px;
  background: #ffffff;
  border-radius: 20px;
}

/* 所持している服のアイコン */
.fashon_icon {
  display: inline-block;
  text-decoration: none;
  width: 150px;
  margin:2px;
  margin-top: 5%;/*上方向に余白*/
  margin-left: 1%;
  margin-right: 1%;
  height: 150px;
  line-height: 50px;
  font-size: 23px;
  color:white;
  border-radius: 12px;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  vertical-align: top;
  border: 4px #777777 solid;
}

/* shopのアイコン */
.btn-social-square {
  display: inline-block;
  text-decoration: none;
  width: 200px;
  margin:2px;
  height: 200px;
  line-height: 50px;
  font-size: 23px;
  color:white;
  border-radius: 12px;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  transition: .3s;
}
.btn-social-square i {
  line-height:50px;
}
.btn-social-square:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

/* 吹き出し ＆　悲壮犬 */
/* 全体のスタイル */
.kaiwa {
  margin-bottom: 25px;
  
  
}
/* 右画像 */
.kaiwa-img-right {
  margin: 0;
  float: right;
  width: 300px;
  height: 300px;
  margin-left: -70px;
}
.kaiwa figure img {
  width: 100%;
  height: 100%;
  margin: 25px -8%;
}
/* 右からの吹き出しテキスト */
.kaiwa-text-left {
  position: relative;
  margin-right: 50px;
  padding: 35px;
  border-radius: 20px;
  background-color: #ffffff;
  /*margin-left: 12%;*/
  float: right;
}
p.kaiwa-text {
  margin: 0 0 10px;
}
p.kaiwa-text:last-child {
  margin-bottom: 0;
}
/* 右の三角形を作る */
.kaiwa-text-left:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  top: 15px;
  right: -20px;
}
.kaiwa-text-left:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-left: 10px solid #ffffff;
  top: 15px;
  right: -19px;
}
/* 回り込み解除 */
.kaiwa:after,.kaiwa:before {
  clear: both;
  content: "";
  display: block;
}

/* アドバイス内テキスト用 */
.advice-text{
  font-size:30px;
}

/* p208参考 テキスト/最高・最低気温 */
.advice-temperature{
  display: flex;                   /* flexboxの指定 */
  justify-content: space-around;  /*               */
  font-size:30px;
  /*margin-bottom: 50px;*/    	/* 下にmarginを50px取得 */
}

/*dropdown用 flex-endで右寄せ でも反映されて無さそう？*/
.dropdown{
  justify-content: center;
}

/* p184参考書より コンテンツの最大表示幅 */
.wrapper{
  max-width: 1400px;  /* 横幅最大1100px */
  margin: 0 auto;     /* 中央に配置する指定 */
}

/* p208参考 天気、気温、湿度、不快指数表示用 横並び */
.weather-contents{
  display: flex;                   /* flexboxの指定 */
  justify-content: space-around;  /*               */
  /*margin-bottom: 50px;*/    	/* 下にmarginを50px取得 */
}

/* !天気関連 要素ごとに余白を開ける */
.weather-social{
    /* margin-left: 10%; */
    /* margin-right: 5%; */
    margin: 3% 0% 10%;
    width: 200px;
}

.weather-social-text{
	font-size: 250%;
	font-family: 'Hattori Hanzo',monospace;
	color: white;
}

/* 日付とドロップダウンの場所調整 */
.header-contents{
  width: 1400px;  /*  縦横比 */
  height: 100px;  /*         */
  display: flex;                   /* flexboxの指定 */
  justify-content: space-between;  /*               */
}


.WebpageColor_box1 {
  margin: 0;
  padding:0; 
  width: 1250px;
  height: 600px;
  background: #d5d5d5;
}
body {
  background: #ffffff;
}

/* 決定ボタン */
.radius_test {
    width: 75px;               /* 幅指定 */
    height: 40px;              /* 高さ指定 */
    border: solid 2px #000;     /* 枠線指定 */
    background-color: #808080;     /* 背景色指定 */
    border-radius: 10px;        /* 角丸指定 */
}

.Iti{
  position: relative;
  /*Don't really need this just for demo styling*/
  
  float: left;
  min-width: 200px;
  margin: 50px 33%;
}

      .coordWebpageColor_box {
      width: 1400px;
      height: 2550px;
      background: #d5d5d5;
    }
    
     .text{
        position: absolute;
        left: 450px;
        top:20px;
    }
    .botan{
        width: 1400px;
        height: 125px;
     
        position: relative;
        background-color: #d5d5d5;
        text-align: left;
    }
    /* コーディネートの枠 */
    .coord_box {
      width: 805px;
      height: 1200px;
      background: #d5d5d5;
      border: 3px solid #000;      /* わかりやすくボーダーを引く */
      border-radius: 10px;
      text-align: right;
      float: right;
      position: relative;
    }
    
    /* アイコンの枠 */
    .box1 {
      width: 585px;
      height: 1200px;
      background: #d5d5d5;
      border: 1px solid #000;      /* わかりやすくボーダーを引く */
      border-radius: 10px;
      overflow-y: scroll;          /* 縦方向にスクロール可能にする */
      float: left;
      text-align: left;
      position: relative;
    }

    .box2 {
      width:96%;               
      height: 210px;               
      border: 1px solid #000;      /* わかりやすくボーダーを引く */
      overflow-x: scroll;          /* 横方向にスクロール可能にする */
      margin: 5px;
      float: left;
      display: flex;
      align-items: center;
    }
    .box2>div{
        width: 250%; 
        display: flex;
    }
    .box2>div>div{
        width: 10%;
        /*border: 1px solid #999;*/
        padding: 10px 20px;
        margin: 20px;
        background: #f2f2f2;
    }
    
    .manekin {
    position: absolute;
    top: 17px;
    left:15px;
    margin: 5px;
    padding:5px;


 
    }

    .boxsize{
        width:350px;               
      height: 410px;  
    }
    .manekinsize{
        width:450px;               
      height: 1050px;   
    }
    .tops{
        position: absolute;
        top: 195px;
        left:63px;
        margin: 5px;
        padding:5px;
    }

    .botoms{
        position: absolute;
        top: 606px;
        left:63px;
        margin: 5px;
        padding:5px;
    }

    .outer{

        position: absolute;
        top: 195px;
        left:440px;
        margin: 5px;
        padding:5px;
    }
    .icon {
        width:187px;
        height:187px;
        border: 2px solid #000;      /* わかりやすくボーダーを引く */
        float: left;
        padding:5px;
        background-color: #fffbfb;
    }
    .fukuiconsize{
        width:175px;
        height:175px;
    }
    .fukusize{
        width:160px;
        height:160px;
    }

        
    .under_box {
      width: 1400px;
      height: 1200px;
      background: #d5d5d5;
      border: 1px solid #000;      /* わかりやすくボーダーを引く */
      border-radius: 10px;
      position: absolute;
      top: 1323px;
    }